In [1]:
import pandas as pd
import re
import yaml
from data_io import load_data_from_db, insert_collection_into_db
from merge import merge_by_key_column
from tokenize import tokenize, NAME
from io import BytesIO
import warnings
warnings.filterwarnings("ignore")

In [2]:
from collections import Counter
pd.set_option('max_colwidth', 100)
pd.set_option('display.max_columns', None)

In [3]:
with open('params.yml', 'r') as f:
    params = yaml.full_load(f)

In [4]:
pd.set_option('max_colwidth', 100)
pd.set_option('display.max_columns', None)

In [5]:
with open('params.yml', 'r') as f:
    params = yaml.full_load(f)

class_name = 'StaticVarCompensator'

df_rs, df_supa, df_substations_matched = load_data_from_db(class_name, params)

In [6]:
for df in [df_rs, df_supa, df_substations_matched]:
    display(df.head(10))
    display(df.info())
    print('-'*10)

,_id,Uid,name,Класс,Substation_Uid
0,65ad2329c268b8233d91ad37,44a71609-850d-43c7-a76b-df096839fe19,УШР-110,StaticVarCompensator,31b622ca-efff-4893-b977-ad41e4377c62

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1 entries, 0 to 0
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   _id             1 non-null      object
 1   Uid             1 non-null      object
 2   name            1 non-null      object
 3   Класс           1 non-null      object
 4   Substation_Uid  1 non-null      object
dtypes: object(5)
memory usage: 172.0+ bytes

None

----------

,_id,Техместо,ДиспНаименование,Название,Местоположение,Класс,ВерхнееТМ,Район,НазваниеКласса,is_required_class
0,65af4348f443d62e8527a4b7,PS110-000688-0E,None,Шунтирующий реактор УШР-110,5530020700,VTM_310,PS110-000688,None,Шунтирующий реактор,True

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1 entries, 0 to 0
Data columns (total 10 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   _id                1 non-null      object
 1   Техместо           1 non-null      object
 2   ДиспНаименование   0 non-null      object
 3   Название           1 non-null      object
 4   Местоположение     1 non-null      int64
 5   Класс              1 non-null      object
 6   ВерхнееТМ          1 non-null      object
 7   Район              0 non-null      object
 8   НазваниеКласса     1 non-null      object
 9   is_required_class  1 non-null      bool
dtypes: bool(1), int64(1), object(8)
memory usage: 205.0+ bytes

None

----------

,_id,Uid,Техместо,Наименование,Диспетчерское наименование,Класс
0,65a9950923f335544b44a09e,000fe64c-7b85-4bea-9ada-3e514d968485,PS110-000516,ПС 110 кВ Уропская,ПС 110 кВ Уропская,Substation
1,65a9950923f335544b44a09f,011f18d7-614e-4945-8bf8-81964a8c6a9f,PS110-001024,ПС 110 кВ Потаскуй,ПС 110 кВ Потаскуй,Substation
2,65a9950923f335544b44a0a0,01628ca3-8af1-4d26-84c3-52ee6c0f1adc,PS110-000253,ПС 110 кВ Пригородная,ПС 110 кВ Пригородная,Substation
3,65a9950923f335544b44a0a1,018c4cfb-1f78-41e9-8e40-001a41114299,PS110-000519,ПС 110 кВ Городская,ПС 110 кВ Городская,Substation
4,65a9950923f335544b44a0a2,0193398d-8d84-40d9-8520-2f8ea56bf5e9,PS110-000294,ПС 110 кВ Коробейниково,ПС 110 кВ Коробейниково,Substation
5,65a9950923f335544b44a0a3,01d27eab-6a9e-41ba-9614-a782a63b430b,PS110-000268,ПС 110 кВ Опорная,ПС 110 кВ Опорная,Substation
6,65a9950923f335544b44a0a4,02697fc5-c1c1-4b96-a808-a905916b8feb,PS110-000008,ПС 110 кВ Гусиноозерская,ПС 110 кВ Гусиноозерская,Substation
7,65a9950923f335544b44a0a5,02b970fd-165b-4da9-9807-c8f21ee9b221,PS110-000387,ПС 110 кВ Затонская,ПС 110 кВ Затонская,Substation
8,65a9950923f335544b44a0a6,0355728d-e712-4133-97e2-0c3cbe4ef79c,PS110-001242,ПС 110 кВ Полярная,None,Substation
9,65a9950923f335544b44a0a7,037bf15d-c151-4d3d-938a-076a5e1d25f2,PS110-000807,ПС 110 кВ Орловский ГОК,ПС 110 кВ Орловский ГОК,Substation

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 822 entries, 0 to 821
Data columns (total 6 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   _id                         822 non-null    object
 1   Uid                         822 non-null    object
 2   Техместо                    822 non-null    object
 3   Наименование                822 non-null    object
 4   Диспетчерское наименование  818 non-null    object
 5   Класс                       822 non-null    object
dtypes: object(6)
memory usage: 38.7+ KB

None

----------

# Берем Техместо из ПС (ранее сопоставленных). Кладем в RS20

In [7]:
techplace_substations_matched = set(df_substations_matched['Техместо'].tolist())
# techplace_substations_supa = set(df_supa['Верхнее ТМ'].tolist())
# print('Между сопоставленными ПС и СУПА PowerTransformer общих по Техместу ПС:', len(techplace_substations_matched & techplace_substations_supa))

uid_substations_matched = set(df_substations_matched['Uid'].tolist())
uid_substations_rs = set(df_rs['Substation_Uid'].tolist())
print('Между сопоставленными ПС и RS20 PowerTransformer общих по Uid ПС:', len(uid_substations_matched & uid_substations_rs))

Между сопоставленными ПС и RS20 PowerTransformer общих по Uid ПС: 1

In [8]:
uid2techplace = dict(zip(df_substations_matched['Uid'], df_substations_matched['Техместо']))
test = []
for key in uid2techplace.keys():
    test.append(uid2techplace[key] == df_substations_matched[df_substations_matched['Uid'] == key]['Техместо'].values[0])

assert all(test) == True
df_rs['Техместо_ПС'] = df_rs['Substation_Uid'].apply(lambda x: uid2techplace.get(x))
print('None:', df_rs['Техместо_ПС'].isna().sum())
df_rs

None: 0

,_id,Uid,name,Класс,Substation_Uid,Техместо_ПС
0,65ad2329c268b8233d91ad37,44a71609-850d-43c7-a76b-df096839fe19,УШР-110,StaticVarCompensator,31b622ca-efff-4893-b977-ad41e4377c62,PS110-000688

In [9]:
def name_norm(text):
    if isinstance(text, str):
        match = re.findall('УШР-110', text)
        if match:
            return match[0]
    return None

df_rs['name_norm'] = df_rs['name'].apply(name_norm)
df_supa['name_norm'] = df_supa['Название'].apply(name_norm)

In [10]:
df_rs['name_norm_techplace'] = df_rs['name_norm'] +'_'+ df_rs['Техместо_ПС']
df_supa['name_norm_techplace'] = df_supa['name_norm'] +'_'+ df_supa['ВерхнееТМ']

feasible_to_match, df_merge, df_rs, df_supa, df_duples = merge_by_key_column(df_rs, df_supa, 'name_norm_techplace')
feasible_to_match

1

1

In [11]:
df_matched = df_merge
print('Сопоставлено', (df_matched.shape[0])/(df_supa.shape[0] + df_matched.shape[0]), 'СУПА')
print('Сопоставлено', (df_matched.shape[0])/(df_rs.shape[0] + df_matched.shape[0]), 'RS')

Сопоставлено 1.0 СУПА
Сопоставлено 1.0 RS